@import '@styles/base';

.registerContainer {
  @include directionX;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url('../../static/images/bg-image.png');

  .error {
    font-size: 15px;
    color: $color-light-red;
  }
  .errorRegister {
    font-size: 20px;
    color: $color-white;
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: $color-dark-red;
  }
  .card {
    @include directionY;
    height: 100%;
    align-items: center;
    width: 100%;
    @include apply-at-xl-size {
      width: 50%;
    }

    .title {
      padding-top: 1rem;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 2px;

      @include apply-at-xl-size {
        padding-top: 0rem;
      }
    }
    .desc {
      font-size: 1rem;
      font-weight: 400;
      color: $color-dark-grey;
    }
    .form {
      padding-top: 1rem;
      width: 80%;
      @include apply-at-xl-size {
        padding-left: 10rem;
      }
      form {
        @include directionY;
        gap: 0.5rem;
        .fullName {
          @include directionY;
          label {
            font-weight: 600;
            font-size: 24px;
          }
          input {
            width: 98%;
            height: 40px;
            border-radius: 5px;
            border: 0.5px solid $color-dark-blue;
            outline: none;
            padding-left: 3%;
            @include apply-at-xl-size {
              width: 70%;
            }
          }

          input:focus {
            border: 2px solid $color-dark-blue;
          }
        }
        .phoneNumber {
          @include directionY;
          label {
            font-weight: 600;
            font-size: 24px;
          }
          input {
            width: 98%;
            height: 40px;
            border-radius: 5px;
            border: 0.5px solid $color-dark-blue;
            outline: none;
            padding-left: 3%;
            @include apply-at-xl-size {
              width: 70%;
            }
          }

          input:focus {
            border: 2px solid $color-dark-blue;
          }
        }
        .email {
          @include directionY;
          label {
            font-weight: 600;
            font-size: 24px;
          }
          input {
            width: 98%;
            height: 40px;
            border-radius: 5px;
            border: 0.5px solid $color-dark-blue;
            outline: none;
            padding-left: 3%;
            @include apply-at-xl-size {
              width: 70%;
            }
          }

          input:focus {
            border: 2px solid $color-dark-blue;
          }
        }
        .password {
          @include directionY;
          label {
            font-weight: 600;
            font-size: 24px;
          }
          input {
            width: 98%;
            height: 40px;
            border-radius: 5px;
            border: 0.5px solid $color-dark-blue;
            outline: none;
            padding-left: 3%;
            @include apply-at-xl-size {
              width: 70%;
            }
          }
          input:focus {
            border: 2px solid $color-dark-blue;
          }
        }
        .image {
          @include directionY;
          label {
            font-weight: 600;
            font-size: 24px;
          }
          input {
            width: 98%;
            height: 40px;
            border-radius: 5px;
            border: 0.5px solid $color-dark-blue;
            outline: none;
            padding-left: 3%;
            @include apply-at-xl-size {
              width: 70%;
            }
          }
          input:focus {
            border: 2px solid $color-dark-blue;
          }
        }
        .loginButtonContainer {
          padding-top: 20px;
          button {
            width: 100%;
            height: 45px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: $color-green;
            color: $color-white;
            cursor: pointer;
            @include apply-at-xl-size {
              width: 73%;
            }
          }
          button:hover {
            filter: brightness(120%);
          }
        }

        .registerCont {
          @include directionX;
          font-size: 0.8rem;
          justify-content: center;
          width: 100%;
          padding-top: 1rem;
          gap: 0.2rem;
          margin-bottom: 2rem;
          @include apply-at-xl-size {
            width: 75%;
            margin-bottom: 0;
          }
          .registerTitle {
            color: $color-dark-grey;
          }
          a {
            text-decoration: none;
            color: $color-dark-blue;
            font-weight: 600;
          }
        }
      }
    }
  }
}
