$color-white: #fff;
$color-white-fade: #e1e1e1;
$color-very-light-grey: #f2f1f1;
$color-dark-blue: #1f2130;
$color-cream: #f3f3f3;
$color-light-grey: #f2f1f1;
$color-line-grey: #8c8585;

$color-black: #000;
$color-dark-red: #ba2d0b;
$color-light-red: #af2655;
$color-grey: #757575;
$color-dark-grey: #7a7980;
$color-yellow: #e48f45;
$color-green: #89937c;
$color-dark-green: #4e5b3e;
