@font-face {
  font-family: Halant;
  font-style: normal;
  font-weight: 200;
  src: url('/src/static/fonts/halant/Halant-Light.ttf') format('truetype');
}


@font-face {
  font-family: Halant;
  font-style: normal;
  font-weight: 400;
  src: url('/src/static/fonts/halant/Halant-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Halant;
  font-style: normal;
  font-weight: 500;
  src: url('/src/static/fonts/halant/Halant-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Halant;
  font-style: normal;
  font-weight: 600;
  src: url('/src/static/fonts/halant/Halant-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Halant;
  font-style: normal;
  font-weight: 800;
  src: url('/src/static/fonts/halant/Halant-Bold.ttf') format('truetype');
}

